<h3> Hasil Pencarian </h3>

<h4> kamu mencari : <%= @food.count %> </h4> 

<% @food.each do |fd| %>
    <tr>
        <td style="text-align: center; vertical-align: middle;">Name : <%= fd.name %></td>
        <br/>
        <td style="text-align: center; vertical-align: middle;">Jenis : <%= fd.jenis %></td>
        <br/>
        <td style="text-align: center; vertical-align: middle;">Origin : <%= fd.origin %></td>
    </tr>
<% end %>

<br/>
<br/>


<%= link_to 'Back', root_path, class:"btn btn-primary" %>

