<%= form_with(model: restoran) do |form| %>
  <% if restoran.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(restoran.errors.count, "error") %> prohibited this restoran from being saved:</h2>

      <ul>
        <% restoran.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :alamat,  style: "display: block" %>
    <%= form.text_field :alamat, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :city,  style: "display: block" %>
    <%= form.text_field :city, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <br/>
  <br/>

  <div>
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
