<div id="<%= dom_id restoran %>">
  <p>
    <strong>Name:</strong>
    <%= restoran.name %>
  </p>

  <p>
    <strong>Alamat:</strong>
    <%= restoran.alamat %>
  </p>

  <p>
    <strong>City:</strong>
    <%= restoran.city %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= restoran.phone %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= restoran.image %>
  </p>

</div>
