<div id="<%= dom_id restoran %>">

  <div class="container">
    <div class="row ">
        <div class="col-md-4" >
          <img src=<%= restoran.image %> class="img-thumbnail" width="304" height="236" alt="Responsive image">
        </div>
        <div class="col-md-8" >
           <p>
            <strong>Names:</strong>
            <%= restoran.name %>
          </p>

          <p>
            <strong>Alamat:</strong>
            <%= restoran.alamat %>
          </p>

          <p>
            <strong>City:</strong>
            <%= restoran.city %>
          </p>

          <p>
            <strong>Phone:</strong>
            <%= restoran.phone %>
          </p>
        </div>
    </div>
</div>


</div>
