<%= form_with(model: menu) do |form| %>
  <% if menu.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
        <% menu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :harga, style: "display: block" %>
    <%= form.text_field :harga, required: true %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image, required: true %>
  </div>

  <div>
    <%= form.label :restoran_id, style: "display: block" %>
    <%# <%= form.text_field :restoran_id %>
    <%= collection_select(:menu, :restoran_id, Restoran.all, :id, :name, prompt: true ) %>
  </div>

  <div>
    <%= form.label :food_id, style: "display: block" %>
    <%= collection_select(:menu, :food_id, Food.all, :id, :name, prompt: true ) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
