<div id="<%= dom_id menu %>">
  <p>
    <strong>Name:</strong>
    <%= menu.name %>
  </p>

  <p>
    <strong>Harga:</strong>
    <%= menu.harga %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= menu.image %>
  </p>

  <p>
    <strong>Restoran:</strong>
    <%= menu.restoran_id %>
  </p>

  <p>
    <strong>Food:</strong>
    <%= menu.food_id %>
  </p>

</div>
