
<p style="color: green"><%= notice %></p>

<h2>Menu</h2>
<table id="menu_table" class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Harga</th>
      <th>Image</th>
      <th>Restorant</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= menu.harga %></td>
        <td style="text-align: center; display:block;"><%= image_tag(menu.image.url, :size => "100x100", alt: 'Image',class:"rounded-pill") if menu.image? %></td>
        <td><%= menu.restoran.try(:name) %></td> 
        <td>
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <%= link_to 'Show', menu_path(menu), class:'btn btn-info' %>
            <%= link_to 'Edit', edit_menu_path(menu), class:'btn btn-warning' %>
            <%= button_to 'Destroy', menu_path(menu), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  <tbody>
</table>

<br>

<%= link_to 'New Menu', new_menu_path, class:"btn btn-primary" %>


