
<p style="color: green"><%= notice %></p>

<h2>Menu</h2>
<table class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Harga</th>
      <th>Image</th>
      <th>Restorant</th>
      <th>Food</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= menu.harga %></td>
        <td><%= image_tag(menu.image.url, :size => "200x200", alt: 'Image') if menu.image? %></td>
        <td><%= menu.restoran.try(:name) %></td> 
        <td><%= menu.food.try(:name) %></td> 
            <td><%= link_to 'Show', menu_path(menu), class:'btn btn-info' %></td>
            <td><%= link_to 'Edit', edit_menu_path(menu), class:'btn btn-warning' %></td>
            <td><%= button_to 'Destroy', menu_path(menu), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
        
      </tr>
    <% end %>
  <tbody>
</table>

<br>

<%= link_to 'New Menu', new_menu_path, class:"btn btn-primary" %>


