<h4><%= @person.email %></h4>
<br/>
<br/>

<% if @jwt_activess.present? %>
<h2>JWT Active</h2>
<table id="jwt_active" class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th style="text-align: center; vertical-align: middle;">JWT ACTIVE</th>
      <th style="text-align: center; vertical-align: middle;">Expired</th>
      <th style="text-align: center; vertical-align: middle;">REVOKE</th>
    </tr>
  </thead>
  <tbody>
    <% @jwt_activess.each do |active| %>
      <tr>
        <td style="text-align: center; vertical-align: middle;"><%= active.jwt %></td>
        <td style="text-align: center; vertical-align: middle;"><%= active.expired %></td>
        <td style="text-align: center; vertical-align: middle;">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <% if active.expired > Time.utc(*Time.now.to_a)  %>
              <%= link_to 'Still active '+ distance_of_time_in_words(active.expired - Time.utc(*Time.now.to_a)), jwt_active_path(active), method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-success' %>
            <% else %>
              <%= link_to 'Has Expired', jwt_active_path(active), method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-danger' %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  <tbody>
</table>
<% else %>
    <h3>JWT Active - List Empty </h3>
<% end %>

<br/>
<br/> 


<% if @jwt_blacklistss.present? %>
<h2>JWT Blacklist</h2>
<table id="jwt_blacklist" class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th style="text-align: center; vertical-align: middle;">JWT BLACKLIST</th>
      <th style="text-align: center; vertical-align: middle;">Expired</th>
      <th style="text-align: center; vertical-align: middle;">DELETE</th>
    </tr>
  </thead>
  <tbody>
    <% @jwt_blacklistss.each do |blacklists| %>
      <tr>
        <td style="text-align: center; vertical-align: middle;"><%= blacklists.jwt %></td>
        <td style="text-align: center; vertical-align: middle;"><%= blacklists.expired %></td>
        <td style="text-align: center; vertical-align: middle;">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <% if blacklists.expired < Time.utc(*Time.now.to_a)   %>
              <%= link_to "Has Expired", jwt_blacklist_path(blacklists), method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-danger' %>
            <% else %>
              <%= link_to "Not Expired " + distance_of_time_in_words(blacklists.expired - Time.utc(*Time.now.to_a)), jwt_blacklist_path(blacklists), method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-success' %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  <tbody>
</table>
<% else %>
    <h3>JWT Blacklist - List Empty </h3>
<% end %>

