<div class="wrapper container right ">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3 ">
      <li><%= link_to "Restaurant",  restorans_path %></li> &nbsp; &nbsp;
      <li><%= link_to "Kategori", kategoris_path %></li> &nbsp; &nbsp;
      <li><%= link_to "Food", foods_path %></li> &nbsp; &nbsp;
      <li><%= link_to "Menu", menus_path %></li> &nbsp; &nbsp;
      <li><%= link_to "User", persons_path %></li> &nbsp; &nbsp;
    </ul>
    <p class="text-center text-muted">© 2022 Foodhunter Company, Inc</p>
  </footer>
</div>