<div id="<%= dom_id food %>">

  <p>
    <strong>Name:</strong>
    <%= food.name %>
  </p>

  <p>
    <strong>Jenis:</strong>
    <%= food.jenis %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= food.origin %>
  </p>

  <p>
    <strong>Kategori:</strong>
    <%# <%= food.kategori_id %>
    <%= collection_select(:food, :kategori_id, Kategori.all, :id, :name, prompt: true ) %>
  </p>

 

</div>
