<%= form_with(model: food) do |form| %>
  <% if food.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :jenis, style: "display: block" %>
    <%= form.text_field :jenis, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :origin, style: "display: block" %>
    <%= form.text_field :origin, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :kategori_id, style: "display: block" %>
    <%= collection_select(:food, :kategori_id, Kategori.all, :id, :name, prompt: true ) %>
  </div>

  <br/>

  <div>
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
