<%= render 'pages/header' %>%
<h3> Detailed Person </h3>

<h4> email : <%= @user.email %></h4>
<h4> password : <%= @user.encrypted_password %></h4>
<h4> token : <%= @token %></h4>

<%= link_to 'Back', persons_path, class:"btn btn-primary" %>